# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.vscode
*.class
*.exe

# Ignore `bin` dir
bin/

# Unignore all `.exe` in `bin` dir
!*/bin/*.exe
.idea
